/* COLOR PALLET

#19181A
#272727 --> my favorite light black 
#F7F9FB --> my favorite white
#FAED26 --> my favorite yellow
#7395AE --> 
#659DBD -->
#88BDBC
#29648A
#17252A
#78244C
#4285F4
#3B8BEB
#F4976C
#B4DFE5
#D2FDFF
#F78888
#F3D250
#90CCF4
#5DA2D5
#C96567
#77A6F7
#00887A
#844D36
#4D6D9A
#99CED3
#EDB5BF

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.9);
  color: #ffffff;
  font-family: "Segou UI", sans-serif, Tahoma, Genova, Verdana;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  /* background-color: #f3d250; */
  opacity: 0;
  font-family: "Poppins", sans-serif;
}
.nav-logo {
  color: #272727;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}
.nav-links {
  display: flex;
  width: 30%;
  justify-content: space-around;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: #272727;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
.burger {
  display: none;
  z-index: 100;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: #272727;
  margin: 5px;
}

.landing::after {
  content: "";
  height: 100vh;
  width: 100%;
  background-image: url("/images/sky-people-street-taking-photo-97906.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  filter: blur(0px);
  -webkit-filter: blur(0px);
  transition: all 1000ms;
}
.landing:hover::after {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.content:hover {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
.content {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.content .logo {
  width: 150px;
  height: 150px;
}
.content .title {
  font-size: 2.2rem;
  margin-top: 1rem;
}
.content .text {
  line-height: 1.7;
  margin-top: 1rem;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 4rem 1rem;
}

.services p {
  margin-top: 1rem;
}

.about p {
  margin-top: 1rem;
}

.grid-3 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.grid-2 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.center {
  text-align: center;
  margin: auto;
}

.bg-light {
  background-color: #f4f4f4;
  color: #333;
}

.bg-dark {
  background-color: #333;
  color: #f4f4f4;
}

footer {
  padding: 2.2rem;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 40%;
  }
}

/* Mid-Screens Down*/
@media screen and (max-width: 786px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 50%;
    top: 8vh;
    background-color: #f3d250;
    display: flex;
    align-items: center;
    justify-content: ;
    flex-direction: column;
    width: 50%;
    z-index: 2;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
}
.nav-active {
  transform: translateX(0%);
  transition: transform 0.5s ease-in;
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* Small Screens */
@media (max-width: 560px) {
  .landing::after {
    height: 70vh;
  }
  .content {
    top: 15%;
    margin-top: 5px;
    transform: translate(-50%, -0%);
  }
  .content .text {
    display: none;
  }
  .grid-3,
  .grid-2 {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .services div {
    border-bottom: #333 solid 1px;
    padding: 1.2rem 1rem;
  }
}
